.App {
  text-align: center;
}

.nav{
  display: flex;
  gap: 0.5rem;
  background-color: #539165;
  padding: 10px;
  justify-content: center;
}
.btnn{
  margin: 7px;
  background-color: initial;
  color: white;
  border: none;
}
.add-btn{
  border: none;
  border-radius: 5px;
  background-color: rgb(59, 59, 233);
  color: aliceblue;
  padding: 5px;
}
.edit-btn{
  border: none;
  border-radius: 5px;
  background-color: #539165;
  color: aliceblue;
  padding: 5px;
  width: 70px;
}
.delete-btn{
  border: none;
  border-radius: 5px;
  background-color: crimson;
  color: aliceblue;
  padding: 5px;
  margin-top: 7px;
  width: 70px;
}
.adduser-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.adduser{
  background-color: #539165;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

